configuration {
    modes:                      "run,drun,calc";
    font:                       "JetBrainsMono Nerd Font 12";
    show-icons:                 true;
    icon-theme:                 "Adwaita";
    drun-display-format:        "{name}";
    drun-match-fields:          "name, generic,keywords";
    sort:                       true;
    sorting-method:             "fzf";
    display-run:                " Run";
    display-drun:               " Apps";
    display-calc:               " Calc";
    calc-command:               "echo -n '{result}' | wl-copy";
}

@theme "catppuccin-mocha"
