[user]
	email = dennis@tychsen.me
	name = dentych
{{- if eq .hosttype "desktop" "laptop" }}
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- end }}
[push]
	default = simple
	autoSetupRemote = true
[init]
	defaultBranch = main

[diff]
    tool = zed
[difftool "zed"]
    cmd = zed --wait --diff $LOCAL $REMOTE

[core]
	editor = hx

[includeIf "gitdir:~/code/understory/"]
	path = ~/.gitconfig-understory

