[Desktop Entry]
Type=Application
Name=Reboot
GenericName=Restart
Comment=Restart the system
Exec=systemctl reboot
Icon=system-reboot-symbolic
Terminal=false
Categories=System;
Keywords=reboot;restart;
